.sideBarContainer {
  width: 25%;
  padding-top: 1rem;
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
  height: 95vh;
  position: fixed; /* Make the sidebar fixed */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it is on top of other content */
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.sideBarSplitter {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: end;
  flex-direction: column;
  justify-content: space-between;
}

.sideBarItemsContainer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sideBarLogoContainer {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.sideBarLogo {
  width: 100%;
  height: 100%;
}

.sideBarItem {
  width: max-content;
  border-radius: 25px;
  padding: 10px 30px 10px 8px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: #e1e8ed !important;
  transition-duration: 250ms;
  text-decoration: none;
  font-weight: 500;
}

.sideBarItemActive {
  font-weight: bold;
}

.sideBarItem:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.sideBarItemText {
  font-size: 1.2rem;
}

.sideBarItemIcon {
  width: 28px;
  height: 28px;
  background-color: transparent;
}

.sideBarBottomContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.postButton {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  width: 85%;
  padding: 10px 0;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 250ms;
  height: 3.7rem;
  
}

.post-button:hover {
  opacity: 0.8;
}

.sideBarProfileItem {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 30px;
  transition-duration: 250ms;
  padding: 10px;
  cursor: pointer;
  position: relative; /* Added to position dropdown relative to this container */
}

.sideBarProfileItem:hover {
  background-color: rgba(231, 233, 234, 0.1);
}

.sideBarProfileAvatar {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

.sideBarProfileData {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 60%;
}

.sideBarProfileName {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
}

.sideBarProfileUsername {
  color: rgb(113, 118, 123);
  font-weight: light;
  font-size: 14px;
}

.sideBarProfileOptions {
  width: 20px;
  height: 20px;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: block;
  position: absolute;
  bottom: 0; /* Adjust to position the dropdown correctly */
  left: 0;
  transform: translateY(-80px);
  background-color: black; /* Matching background color */
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border: 1px solid #444; /* Border color to match the theme */
  border-radius: 8px; /* Rounded corners */
  padding: 8px 0; /* Padding inside the dropup */
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
}

.dropup-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropup-content a:hover {
  background-color: #444; /* Hover color to match the theme */
}
