.highlight{
    display: block;
    position:relative;
    top: 400px;
    width: 100%;
    right: 60px;
    padding: 30px;
    color: white;
}
.prag{
    color: #677580;
}
.btn{
    display: flex;
    border-radius: 40px;
    font-weight: 700;
    background-color: white;

    margin: auto;
    color: #677580;
    text-align: center;
    width: 35%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.hi-con{
    display: flex;
    width:38%;
    padding-bottom: 10px;
    text-align: left;
    align-items: center;
    margin: auto;
}
.media{
    display: block;
    position:relative;
    top: 400px;
    width: 100%;
    right: 60px;
    padding: 30px;
    color: white;
}
.prag{
    color: #677580;
}
.me-con{
    display: flex;
    width:35%;
    padding: 2px;
    text-align: left;
    align-items: center;
    margin: auto;
}