.reply-options {
    background-color: #000000;
    border-radius: 16px;
    padding: 15px;
    position: absolute;
    z-index: 1000;
    width: 320px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    top: 130px; 
    left: -20px; 
    border: 1px solid #000000; 
  }
  
  .reply-header {
    font-size: 0.7rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
    font-size: large;
    text-align: left;
  }
  
  .reply-subheader {
    font-size :  0.85rem ; 
    color: #8899a6;
    margin-bottom: 15px;
    text-align: left;
  }
  
  .reply-option {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 8px;
    color: #ffffff; 
    font-size: 0.95rem;
    text-align: left;
    font-weight: bold;
  
  }
  
  .reply-option:hover {
    background-color: #222223;
  }
  
  .reply-option i {
    
    color: #000000; 
    font-size: 1rem;
    margin : 10px;
    
  }
  
  .check-icon {
    color: #1da1f2; 
  }
  
  .reply-option .text-primary {
    color: #1da1f2; 
    text-align: left;
  }
  
  .reply-options .reply-header,
  .reply-options .reply-subheader {
    padding: 0 12px; 
  }
  