.tweet-box {
  display: flex;
  border-bottom: 1px solid #2e2e2e;
  padding: 15px;
  background-color: #000;
  color: #fff;
  position: relative; 

}

.user-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet-content-container {
  flex-grow: 2;
}

.tweet-textarea {
  width: 100%;
  background-color: #000;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  resize: none;
  outline: none;
  margin-bottom: 10px;
  font-family: 'Arial','Roboto','Helvetica','Segoe UI';
  margin-top: 0.7rem;
}

.reply-info {
  display: flex;
  font-size: 0.9rem;
  margin-top: 5px;
  color: #1da1f2;
  font-weight: bold;
  margin-bottom: 1rem;
}

.reply-icon {
  font-size: 1rem;
  vertical-align: middle;
}

.reply-text {
  margin-left: 5px;
  cursor: pointer;
  vertical-align: middle;
}

.separator {
  border: 0;
  height: 1px;
  background: #2e2e2e;
  margin: 10px 0;
}

.tweet-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-container {
  display: flex;
  align-items: center;
}

.tweet-icon {
  font-size: 1.5rem;
  color: #1da1f2;
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s;
}

.tweet-icon:hover {
  color: #0d8ed9;
}

.tweet-icon.disabled {
  color: #444;
  cursor: not-allowed;
}

.post-button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  width: 100px;
  height: 50px;
}

.post-button:disabled {
  background-color: #1c3c41;
  cursor: not-allowed;
}

.post-button:not(:disabled):hover {
  background-color: #0d8ed9;
}

/* Hide the actual file input */
.image-upload-input {
  display: none;
}

label[for="image-upload-input"] {
  cursor: pointer;
}

.tweet-image-preview {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
